# base stuff to include
include AUTHORS
include README.md
include CHANGES
include COPYING
include TODO
include BUGS
include MANIFEST
include setup.py

# add the main programs
include bin/pbs_cluster_status
include bin/gen_nodes_file

# add the default configuration files
include etc/pbsclusterviz.d/clusterviz.conf
include etc/pbsclusterviz.d/nodes

# add base package files
include pbsclusterviz/*.py

# add the example files
include examples/rrznviz.conf
include examples/pbsnodes_rrzn.xml
include examples/nodes.rrzn

# add the docs
include doc/*.rst
include doc/conf.py
include doc/Makefile
include doc/job_status_july_2011.png
include doc/load_status_july_2011.png
