Source: pbsclusterviz
Maintainer: Paul Cochrane <paultcochrane@users.sourceforge.net>
Section: python
Priority: optional
Homepage: http://pbsclusterviz.sourceforge.net
Build-Depends: debhelper (>= 8), python
Standards-Version: 3.9.1

Package: python-pbsclusterviz
Version: 0.7a
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-vtk (>= 5.4)
Architecture: all
Copyright: LICENSE
Changelog: changelog
Readme: README
Extra-Files: README, BUGS, TODO, CHANGES, nodes.rrzn, pbsnodes_rrzn.xml, rrznviz.conf
Files: clusterviz.conf /etc/pbsclusterviz.d
       nodes           /etc/pbsclusterviz.d
Description: PBS Cluster Visualisation
 PBS Cluster Viz is a project to display information useful to admins and
 users about a computing cluster managed by a PBS-compatible resource manager.
 Information includes load and job distribution.
 Interactive as well as static output is available.
